# Pandas (Practice Sheet)
<br>

## Reading from csv files

In [6]:
import pandas as pd

df = pd.read_csv('weather.csv')

### pandas.read_csv()
#### Useful arguments

- skip rows
- header = [number]
- header=None, names=["col1", "col2", ...]
- nrows
- na_values
 - na_values = ["possible", "values", "inplace of", "NaN"]
 - na_values = {
                 "col1": ["possible", "values", "inplace of", "NaN", "in col1"],
                 "col2": ["possible", "values", "inplace of", "NaN", "in col2"]
               }
- [converters](https://youtu.be/-0NwrcZOKhQ?t=1014) in **read_excel()**

## Common functions and features

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [5]:
df.shape

(6, 4)

In [6]:
df[['day', 'temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [7]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.event.max(), df.day.max(), df.temperature.max()

('Sunny', '1/6/2017', 35)

In [10]:
df[df.temperature<50]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.index

RangeIndex(start=0, stop=6, step=1)

## Writing in csv files

In [7]:
df.to_csv("new_weather.csv")

### to_csv()
#### Useful arguments
- index=False ... to disable printing of index column
- columns=["col1", "col2", ...] ... only printing out those columns
- header=False ... to disable printing of column names (headers)

## Handling Missing Data